<div class="container">
    <h5 class="mb-2">Editar postagem</h5>
    <hr />
    <div class="card">
        <div class="card-content">
            <%= form_for :post, routes.path(:update_path), method: :put do
                hidden_field :id, value: post[:id], name: '_id'
                label :Titulo
                text_field :title, class: 'validate', autocomplete: 'off', value: post[:title]
                label :Conteudo
                text_area :content, post[:content], class: 'materialize-textarea', style: 'height: 200px; overflow-y:scroll', 
                autocomplete: 'off'
                submit 'Editar', class: 'btn'
            end %>
        </div>
    </div>
    
</div>